# backend/.gitignore

# dependencies
node_modules/
.env

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production build output
build/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
